<div class="notes"></div>
<form action="/login" method="GET">
    <input type="submit" value="Login">
</form>

<form action="/register" method="GET">
    <input type="submit" value="Register">
</form>