<div class="notes"></div>
<form action="/register" method="POST" autocomplete="off">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="re_password" placeholder="Retype Password">
    <input type="submit" value="Register">
</form>

<form action="/" method="GET">
    <input type="submit" value="Back">
</form>


