<div class="notes"></div>
<div class="container">
    <a class="open" href="javaScript:void(0);" onclick="friendsOpen()">Friends</a> 
    <a class="logout" href="/">Logout</a> 
    <div class="friends">
        <a href="javaScript:void(0);" onclick="friendsClose()">Close</a>
        <div class="list">
            <% a.each do |friend| %>
                <form class="send" action="/chat" method="GET" autocomplete="off">
                    <input type="hidden" value="<%=friend[0]%>" name="friend">
                    <input class="friend" type="submit" value="<%=friend[0]%>">
                </form>
            <% end %>
        </div>
    </div>
    <div class="add">
        <form action="/add" method="POST" autocomplete="off">
            <input type="text" name="name">
            <input type="submit" value="Add Friend">
        </form>
    </div>
</div>
